deprecated_version/test_set/complexTypeClass/xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Burkhard Schaefer (BSSN Software) -->
<!-- This fragment has been extracted from the AnIML Core Schema -->
<xsd:schema targetNamespace="urn:org:astm:animl:schema:core:draft:0.90" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns="urn:org:astm:animl:schema:core:draft:0.90" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.90">
	<!-- $Id$ -->
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
	<xsd:element name="Sample" type="SampleType">
		<xsd:annotation>
			<xsd:documentation>Individual Sample, referenced from other parts of this AnIML document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SampleType">
		<xsd:annotation>
			<xsd:documentation>Individual Sample, referenced from other parts of this AnIML document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TagSet" minOccurs="0"/>
			<xsd:element ref="Category" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="sampleID" type="ShortTokenType" use="required"/>
		<xsd:attribute name="barcode" type="ShortTokenType" use="optional">
			<xsd:annotation>
				<xsd:documentation>Value of barcode label that is attached to sample container.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="TagSet" type="TagSetType">
		<xsd:annotation>
			<xsd:documentation>Set of Tag elements.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TagSetType">
		<xsd:annotation>
			<xsd:documentation>Set of Tag elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Tag" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Tag" type="TagType">
		<xsd:annotation>
			<xsd:documentation>Tag to mark related data items. When a value is given, it may also serve as a reference to an external data system.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TagType">
		<xsd:annotation>
			<xsd:documentation>Tag to mark related data items. When a value is given, it may also serve as a reference to an external data system.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name" type="ShortTokenType" use="required"/>
		<xsd:attribute name="value" type="ShortStringType" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Category" type="CategoryType">
		<xsd:annotation>
			<xsd:documentation>Defines a category of Parameters and SeriesSets. Used to model hierarchies.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CategoryType">
		<xsd:annotation>
			<xsd:documentation>Defines a category of Parameters and SeriesSets. Used to model hierarchies.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Parameter" minOccurs="0" maxOccurs="unbounded"/>
			<!-- <xsd:element ref="SeriesSet" minOccurs="0" maxOccurs="unbounded"/> -->
			<xsd:element ref="Category" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Contains multiple subcategories of Category.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="SignableItemWithName"/>
	</xsd:complexType>
	<xsd:element name="Parameter" type="ParameterType">
		<xsd:annotation>
			<xsd:documentation>Name/Value Pair.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParameterType">
		<xsd:annotation>
			<xsd:documentation>Name/Value Pair.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SingleValueType">
				<xsd:sequence>
					<xsd:element ref="Unit" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="SignableItemWithName"/>
				<xsd:attribute name="parameterType" type="ParameterTypeType" use="required">
					<xsd:annotation>
						<xsd:documentation>Data type of this parameter</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
